<div id="footer">
    <span>Gracias por visitar ❤️</span>
</div>

<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;

        span {
            color: rgb(3, 63, 57);
            font-size: 12px;
        }
    }
</style>
