---
import { languageList } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";

const currentLang = Astro.currentLocale || 'es';

const translatedLabels = useTranslations(currentLang as keyof typeof languageList)
---

<div id="footer">
    <span>{translatedLabels('footer-text')}</span>
</div>

<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;

        span {
            color: rgb(3, 63, 57);
            font-size: 12px;
        }
    }
</style>
