<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/11422957.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>Javi Villar</title>
	</head>
	<body>
		<div class="waves">
			<svg viewBox="0 0 2 1" preserveAspectRatio="none">
				<defs>
					<path
						id="w"
						d="
      m0 1v-.5 
      q.5.5 1 0
      t1 0 1 0 1 0
      v.5z"
					></path>
				</defs>
				<g>
					<use href="#w" y=".1" fill="#003b61"></use>
					<use href="#w" y=".2" fill="#318db2"></use>
					<use href="#w" y=".0" fill="#30b1ce"></use>
				</g>
			</svg>
		</div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgb(181, 248, 243);
		font-family: "Inter", sans-serif;
		overflow: hidden;
	}

	.waves {
		position: fixed;
		bottom: 0;
		display: flex;

		use {
			animation: move-forever 5s linear infinite;
			&:nth-child(2) {
				animation-duration: 8s;
				animation-delay: -1.5s;
			}
			&:nth-child(1) {
				animation-duration: 15s;
			}
		}
		svg {
			width: 100vw;
			height: 120px;
		}
	}

	@keyframes move-forever {
		0% {
			transform: translate(-2px, 0);
		}
		100% {
			transform: translate(0px, 0);
		}
	}
</style>
